{layout ../../../../../../System/UI/Http/Web/templates/@layout.latte}
{block title}Page Not Found{/block}

{block content}
<p>Tady nemáš co dělat kentaure, tohle je věc ministerstva!</p>

<p><small>error 404</small></p>
