extensions:
	messenger: Contributte\Messenger\DI\MessengerExtension

messenger:
	debug:
		panel: true
	bus:
		messageBus:
			autowired: true
			allowNoHandlers: false
			allowNoSenders: true
	transport:
		sync:
			dsn: sync://
	logger:
		httpLogger: Psr\Log\NullLogger
		consoleLogger: Psr\Log\NullLogger

services:
	- Contributte\Messenger\Bus\QueryBus
	- Contributte\Messenger\Bus\CommandBus
	- App\System\Application\Provider\BusProvider(@Contributte\Messenger\Bus\CommandBus, @Contributte\Messenger\Bus\QueryBus)
	- App\System\Application\CQRS\Bus

decorator:
	App\System\Application\CQRS\BusAccess:
		setup:
			- setBusProvider(@App\System\Application\Provider\BusProvider)

