services:
	- app\System\Application\Vite\Vite(http://localhost:5173, %wwwDir%/manifest.json, not(%debugMode%))
	- app\System\Application\Routing\Factory\RouterFactory::createRouter
	- app\System\Application\Helper\TemplateRenderer(@twigEnvironment)
	- app\System\Application\Mapping\Map\CollectionMap(typed(app\System\Application\Mapping\Map\Collection\CollectionTypeMap))
	- app\Day\Infrastructure\DayInfoProvider(app\Day\Infrastructure\DayInfoClient::create())

	inflector: app\System\Application\Inflector\InflectorFactory::create()
	configLoader:
		factory: Twig\Loader\FilesystemLoader(%appDir%/../deploy/local)
	twigEnvironment:
		factory: Twig\Environment(@configLoader)
	nette.latteFactory:
			setup:
					- addFilter(asset, app\System\Application\Latte\AssetFilter())

	localStorage:
		create: Nette\Caching\Storages\FileStorage(%tempDir%/cache)
		autowired: false
	- Nette\Caching\Cache(@localStorage, 'local-cache')

decorator:
	app\System\Application\CQRS\Command\CommandHandler:
		setup:
			- setMapper(@app\System\Application\Mapping\Mapper)
			- setEntityManager(@Doctrine\ORM\EntityManagerInterface)

	app\System\Application\CQRS\Query\QueryHandler:
		setup:
			- setMapper(@app\System\Application\Mapping\Mapper)
			- setEntityManager(@Doctrine\ORM\EntityManagerInterface)

	app\System\UI\Http\Web\BasePresenter:
		setup:
			- setDayInfoProvider(@app\Day\Infrastructure\DayInfoProvider)
			- setVite(@app\System\Application\Vite\Vite)