{templateType app\System\UI\Http\Web\Template\BaseTemplate}
<footer class="flex-none">
	<div class="p-3 flex bg-slate-900 text-center items-center justify-between">
		<span class="ml-10">Venku prší, vem si bundu!</span>
		<span>© 2024, Šunka v kapse</span>
		<span class="mr-10">Svátek slaví {$todayDTO->name}</span>
	</div>
</footer>